@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.manrope{
  font-family: var(--manrope-font);
}

.card:hover .hidden_detail{
  display: block;
}

.info span{
  color: #EF6509;
}

ul li:hover{
  color: #EF6509;
}

.footer{
  background-image: url("../public/footer.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.auctions{
  background-image: url("../public/action.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  right: -10rem;
}

.cars{
  background-image: url("../public/carsBg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.valuers{
  background-image: url("../public/valuersBg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.vendors{
  background-image: url("../public/vendorsBg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.properties{
  background-image: url("../public/propertyBG.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.company-hero{
  background-image: url("../public/company.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.company-bg{
  background-image: url("../public/company-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.bg{
  background-image: url("../public/action.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.mobile-auction .slick-slide{
  margin-inline: 2px;
}

.categories .slick-slide{
  margin-inline: 10px;
}

@media(max-width : 1050px) {
  .mobile-auction{
    height: 34rem !important;
  }

  .categories{
    height: 44rem !important;
  }

  .auctions{
    right: -4rem;
  }
}


@media(max-width : 485px) {

  .categories{
    height: 24rem !important;
  }

}

@media(max-width : 385px) {
  .mobile-auction{
    height: 36rem !important;
  }

  
  .categories{
    height: 30rem !important;
  }

}

